/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;

}

nav.navbar.navbar-default{
    background-color: #222222;
    border-color: #121212;
}

nav.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

nav.navbar-default .navbar-nav > li > a:hover,
nav.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #090909;
}